.container-change-password {
    background-color:white;
    margin-left: 1vw;
    width: 81vw;
    height: 60vh;


}
.container-change-password h1{
    color         : transparent;

}
.container-change-password hr{
    height: 1px;
    background-color: #EBEDF2;
    border: none;

    /* color: #A1A8C3; */
}
.container-change-password input{
    border       : 1px solid #EBEDF2; 
    border-radius: 4px;
    opacity      : 1;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-right: 1vw;
    margin-bottom: 2vh;
    font-size    : 1.2vw;
    height       : 5vh;
    width        : 35vw;

}

.input-form p{
    margin-left: 1vw;
    color : #A1A8C3;
}

.input-form ::placeholder{
    color         : transparent;
}

#profileSaveButton-password {
    /* border       : 1px solid blue; */
 
    width           : 12vw;
    height          : 7vh;
    float           : left ;
    background-color: #FDCC6B;
    color           : white;
    font-size       : medium;
    text-align      : center;
}