.container-change-password {
    border: 1px solid red;
    background   : #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow   : 0px 1px 15px #45414E14;
    border-radius: 4px;
    display      : grid;
    color        : #A1A8C3;
    width        : 81vw;
    font-size    : 1.4vw;

}

.input-form {
    border       : 1px solid green;
    display      : grid;
    border       : 1px solid #EBEDF2;
    border-radius: 4px;
    opacity      : 1;
    margin-left: 1vw;
    margin-top   : 1vh;
    margin-right : 1vw;
    margin-bottom: 2vh;
    height   : 5vh;
    width    : 15vw;
}
.input-form p{
    color : #A1A8C3;
}
.input-form ::placeholder{
    color         : transparent;
}

#profileSaveButton {
    border       : 1px solid blue;

    margin-top      : 10%;
    width           : 12vw;
    height          : 7vh;
    float           : left;
    background-color: #FDCC6B;
    color           : white;
    font-size       : medium;
    text-align      : center;
}