
@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #F6FAFB;
  }

  .welcomeBanner {
    width: 80%;
    height: 5vh;
    margin-left: 15vw;
    margin-right: auto;
    padding: 1.5vw;
    border-radius: 4px;
    box-shadow: 0px 1px 15px #45414E14;
    background-color: #FFD98D;
    text-align: left;
    font-family: 'Poppins';
    font-weight: lighter ;
    letter-spacing: 0.23px;
    color: #3D4465;
    opacity: 1;
  }
  
  .dashboardContentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: #FFFFFF;
     margin-left: 15vw;
  }
  
  .dashboardBtn {
    align-self: flex-end;
    margin-left: 20vw;
    margin-right: 5%;
    margin-top: 5%;
    padding: 2vh;
    border-radius: 4px;
    background: #3C3C3B;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
  }
  
  .dashboardSubtitle {
    text-align: left;
    font-family: 'Poppins';
    margin-left: 5%;
    margin-top: 5%;
    letter-spacing: 0px;
    color: #3C4368;
    opacity: 1;
  }

  #dashboardContainer {
    width: 80%;
    margin: auto;
    padding: 10px;
  }
  
  #profileDiv {
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-left: 15vw;
    width: 40%;
    height: 100%;
    margin-right: 1vw;
    margin-top: 1%;
    padding-bottom: 2vh;
    box-shadow: 0px 1px 15px #45414E14;
    border-radius: 4px;
    opacity: 1;
  }
  
  #profile-pic {
    float: left;
    margin-top: 1vh;
    margin-left: 2vw;
    border-radius: 80px;
    height: 15vh;
    width: 7vw;
    opacity: 1;
  }
   
  #personalData {
    margin-left: 3vw;
    margin-top: 10vh;
    font-size: 4vh;
    font-family: 'Poppins';
  }
  
  .profileSubtitle {
    float: left;
    margin-left: 5%;
    margin-bottom: 2vh;
    width: 100%;
    font-family: 'Poppins';
    font-weight: bolder;
  }

  #industryDiv {
      margin-top: 10vh;
      height: 20vh;
  }
  
  .prefInd {
    float: left;
    margin-left: 6vw;
    width: 30%;
    font-family: 'Poppins';
  }

  #contact {
    margin-left: 2vw;
    width: 80%;
  }

 .contactLabel {
   text-align: left;
  }

 .contactData {
  text-align: center;
  }

  #propertyDiv {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 50%;
    margin-right: 2vw;
    margin-top: 1%;
    padding:  1vh;
    box-shadow: 0px 1px 15px #45414E14;
    border-radius: 4px;
    opacity: 1;
  }

  #fullbar {
    width: 100%;
    margin: 2vw;
    margin-left: auto;
  }

  .bar {
    float: left;
    height: 40px;
    }
  
  .shareInfo {
    height: 8vh;
  }