* {
    margin        : 0;
    padding       : 0;
    letter-spacing: 0px;
    text-align    : left;
    opacity       : 1;

}

#header {
    padding    : 3vh;
    display    : flex;
    margin-left: 15vw;
    color      : #656565;
    position   : relative;
}


#headerText {
    margin-left: 1vw;
    display    : inline;
    color      : #A1A8C3;
    position   : relative;

}

.portFolio-container {
    margin-left  : 16vw;
    background   : #FFFFFF 0% 0% no-repeat border-box;
    box-shadow   : 0px 1px 15px #45414E14;
    border-radius: 4px;
    float        : left;
    width        : 81vw;
}

#portfolio-table {
    border-collapse: separate;
    border-spacing : 0px 0px;
    width          : 100%;
}

#pagination {
    position: relative;
    display : block;

}

.empty-portfolio {
    margin    : 20vw 0;
    text-align: center;
}

#portfolio-table th,
#portfolio-table td {
    border-bottom: .15vw solid #EEF3FF;
}

#portfolio-table tbody,
#portfolio-table th,
#portfolio-table tr,
#portfolio-table td {
    border-spacing : 0;
    border-collapse: collapse;
    width          : 0;
    height         : 0;
    font-size      : 1vw;
    padding        : 2vw 0;
    color          : #3C3C3B;
    text-align     : center;
}

#portfolio-table th {
    color: #A1A8C3;

}

button {
    color           : #FDCC6B;
    background-color: #FFFFFF;
    opacity         : 1;
    border          : 0;
    font-size       : 18px
}