/*
vh : height
vw : width
vmin : min storlek vid skärm ändring?
vmax : max -||-
*/
*{
    margin: 0;
    padding: 0;
}
.sidediv{
    position: fixed;
    background: #3C3C3B 0% 0% no-repeat padding-box;
    width: 13.6vw;
    height: 100vh;
    top: 0;
}
.sidebar{
    display: block;
    width: 30vh; 
    border: none;
    height: 6vh;
    background: #363636 0% 0% no-repeat padding-box;
    opacity: 1;
}
.sideButton:hover {
    box-shadow: 2vh;
    color: #FDCC6B;
    cursor: pointer;
    background: #292929 0% 0% no-repeat padding-box;;
    opacity: 1;
}
.sideButton:active{
    color: hotpink;
    box-shadow: 2vh;
}
.sideButton{
    border: none;
    background: none;
    display: block;
    color: #C9B791;;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
#sideImageLoggo{    
    width: 30vh;
}






