.sidediv{
    position: fixed;
    background-color: grey;
}
.sidbar{
    display: block;
    margin: 5vh;
}
.sidbar:hover {
    box-shadow: 2vh;
    color: hotpink;
    cursor: pointer;
}
.sidbar:active{
    color: hotpink;
    box-shadow: 2vh;
}