.App {
  text-align: center;
}

.container {
  background-color: rgb(230, 224, 217);
}

.dashboardBtn {
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.dashboardSubtitle {
  float: left;
  margin-left: 5%;
  margin-top: 5%;
}

.content {
  border: 1px solid blue;
  margin-top: 15%;
  height: 100%;
}

#welcomeBanner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: gold;
}

#dashboard {
  width: 80%;
  margin: auto;
  padding: 10px;
  
}

#profileDiv {
  border: 1px solid black;
  float: left;
  width: 42%;
  height: 100%;
}

img {
  float: left;
  margin-top: 1vh;
  border-radius: 80px;
  height: 20vh;
  width: 10vw;
  
  
}

#personalData {
  border: 1px solid red;
  margin-left: 45%;
  margin-top: 0%;
  
}

.profileSubtitle {
  float: left;
  margin-left: 5%;
  width: 100%;
}


#industry1 {
  border: 1px solid green;
  float: left;
  margin-left: 5%;
  width: 40%;
}

#industry2 {
  border: 1px solid green;
  float: right;
  margin-right: 5%;
  width: 40%;
}

#industry3 {
  border: 1px solid green;
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
}

#industry4 {
  border: 1px solid green;
  float: right;
  margin-top: 5%;
  margin-right: 5%;
  width: 40%;
}

#propertyDiv {
  border: 1px solid black;
  margin-left: 45%;
  height: 100%;
}

#barDiagram {
  background-color: greenyellow;
  width: 75%;
  height: 20px;
}

.propertyStockInfo {
  border: 1px solid red;
  height: 80px;
}

#sectorColor {
  background-color: blue;
  width: 20px;
  height: 20px;
  margin: 20px;
  float: left;
}

#sectorName {
  float: left;
  font-weight: bold;
  width: 20%;
}

#propertyAmount {
 float: right; 
 margin-right: 5%;
 width: 20%;
}

#companyName {
  float: left;
  margin-top: 7%;
  margin-left: 5%;
  width: 30%;
 
}




/*border: 1px solid red;*/